$button : 30px;
$size: $button*2;
$boco: lighten($main, 10%);
.button {
    color: $white;
    @include b($boco);
    border-width: $button/30;
    background-color: $main;
    font-size: $button*0.75;
    @include circle($size);
    .icon-up-open:before {
        //margin-right: 0;
        position: relative;
        top: -$button/8; //border width adjustment
        transition: top 0.3s ease-in-out;
    }
    &:hover {
        .icon-up-open:before {
            top: -$button/5;
        }
    }
} 

#totop {
        position: fixed;
        bottom: $button;
        right: $button;
        cursor: pointer;
        z-index: $top + 1;
        transform: translateY(200%);
        opacity: 0;
        transition: all 0.9s ease-in;
        &.slide {
            transform: translateY(0);
            opacity: 1;
        }
    }