$size: 400px;
$size: 25vw;


.cog {
        width: $size;
        height: $size;
//        margin: $size/4 auto;
        position: relative;
        .header{
//            &:before{
//                background-image: url('images/badge-ribbon.png');
//                position: absolute;
//                width: 378px;
//                height: 69px;
//                z-index: $top + 2;
//                top: 0;
//                right: 0;
//                display: block;
//            }
//            width: $size*0.75;
//            height: 50px;
//            position: absolute;
//            top: 72.5px;
//            left: 50px;
//            z-index: $top - 1;
            color: $dark;
			text-shadow: 1px 1px #cdcdcd, -1px 1px #cdcdcd, 1px -1px #cdcdcd, -1px -1px #cdcdcd;
        }
        .icon-cog:before{margin: 0;padding:0;}
        .icon-cog {
            width: $size;
            height: $size;
            line-height: $size;
            font-size: $size;
            position: absolute;
//            top: 35px;
//            left: 125px;
            display: block;
            opacity: 0.5;
            color: $orange;
        }
    }
