#contact {
	background-color: $accent;

	h2 {
		padding-top: $page;
		padding-bottom: $page/2;
	}

	form {
		width: 50%;
	}

	div,
	textarea {
		margin-bottom: $page/4;
	}

	label,
	input {
		line-height: $page/2;
	}

	textarea {
		height: $page*1.4;
	}

	.message {
		height: $page*1.4;

		label {
			line-height: $page*1.4;
		}
	}

	.card {
		opacity: 0;
		transition: all 1.9s ease-in-out;
		transition-delay: 0.4s;
		transform: translateX(100%);

		&.visible {
			opacity: 1;
			transform: translateX(0);
		}
	}

	button {
		line-height: $page/2;
	}
}
