body,
html,
main {
	height: 100%;
}

nav,
#about .card {
	width: 100%;
}

.card a,
.controls {
	display: none;
}

section,
main,
#slider {
	text-align: center;
}

body {
	overflow-x: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.page {
	padding-bottom: $page;
}

.outline {
	text-shadow: 1px 1px #cdcdcd, -1px 1px #cdcdcd, 1px -1px #cdcdcd, -1px -1px #cdcdcd;
}


#about {
	height: 100%;
}


#work {
	& > h1 {
		padding-bottom: $page/2;
	}

	background-color: $accent;
}

.sticky {
	position: fixed;
}
