#about {
        background-image: url('images/169H.jpg'); //fallback bgr
        background-size: cover;
        display: table;
        width: 100%;
        .card {
            display: table-cell;
            vertical-align: middle;
            color: $white;
            padding-top: $menu-height;
            h1, p {
                position: relative;
                z-index: $top - 1;
            }
            p {
                padding-top: 2%;
                padding-bottom: 2%;
                font-family: $display;
                text-transform: capitalize;
                font-size: 3rem;
            }
            #more {                
                position: relative;
                display: inline-block;
                transform: rotate(180deg); 
            }
        }
    }
.show-image {
    width: 50%;
    height: 50%;
    width: $menu-height*4;
    height: $menu-height*4;
    margin: 0 auto;
    background: url("images/png24.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }
