    nav {
        font-weight: bold;
        position: absolute;
        z-index: $top;
        @include bc($dark); //test
        &.sticky {
            ul > li{width: 5%;}
            a {                padding: 10px 0;            }
            .menu-label {opacity: 0;height: 0;width: 0;}
        } 
        a {
            padding: $menu-height/4 0;
            @include bc($dark); //test
            color: $white;
            display: block;
            transition: all 0.5s ease-in-out;
            position: relative;
            .tile{
                width: 100%;
                display: table;
            }
            .icon,.menu-label{
                display: table-cell;
                
            }
            .icon{                
                color: $white;
                font-size: $menu-height/4;
                opacity: 0.5;
                vertical-align: middle;
                text-align: right;
                &:before{margin-left: 13px;}                
            }
            .menu-label {
//                background-color: yellowgreen;
                vertical-align: middle;
                opacity: 1;
                height: auto;
                text-align: left;
                padding-left: 24px;
            }
            &:hover {
//                background-color: $main;
//                color: $dark;
                .icon,.menu-label{
                    color: lighten($main, 40%);
                    
                }
                .icon {
                  transform: scale(1.5);  
                }
            }
//            &.active {
//                background-color: $white;
//                color: $dark;
//                font-weight: bolder;
//                border: $border solid $dark;
//            }
        }
        ul {
            width: 100%;
            text-align: center;
            &> li {
                width: 25%;
                float: left;
                transition: all 1s ease-in;
            }
        }
        span{
            display: block;
        }
    }