<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>front end</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootflat/2.0.4/css/bootflat.min.css">
    <style>
        h3 {color: orange; margin: 0; }
        .container { max-width: 1200px; margin: auto;}
    </style>
</head>
<body>
   <div class="container">
        <%- yield %>   
   </div>    
</body>
</html>