<div class="card container text-center">
    <h2 class="heading">Contact</h2>
    <div id="status" class="status alert alert-success" style="display: none"></div>
    <form id="main-contact-form" name="contact-form" role="form">
        <div class="row">
            <label for="name">Name</label>
            <input name="name" id="name" type="text" required="required" placeholder=" Your Name">
        </div>
        <div class="row">
            <label for="email">EMail</label>
            <input name="email" id="email" type="text" required="required" placeholder="email address">
        </div>
        <div class="message">
            <textarea name="message" id="message" required="required" rows="5" placeholder="enter your message here"></textarea>
            <label for="message">Message</label>
        </div>
        <button type="submit" role="button">Send</button>
    </form>
    <a href="#" role="button">&gt;</a>
</div>