<div class="card">
        <h1 class="show-image ir">Hello, my name is Uri Strelet. I'm a front-end developer and web designer based in Toronto.</h1>
         <p>welcome to the portfolio of Uri Strelet.</p>
        <a href="#work" id="more" class="button">
            <span class="icon-up"></span>
        </a>
    <a href="#" role="button">&gt;</a>
</div>