<div class="bg-diagonal card vhc">
  <div class="printcard text-center vhc text-white">
    <h1 class="title">iuri strelet</h1>
    <h2 class="subtitle">web developer</h2>
  </div>
  <a class="desktop-hidden" href="#" role="button">&gt;</a>
</div>