<main role="main">
   <section id="about">
        <!--%- partial('_hero.v1') %-->
        <%- partial('_hero.v2') %>
    </section>
    <section id="work" class="outer-slider clearfix"> 
        <%- partial('_portfolio.v1') %>
    </section>
    <section id="contact" class="page">
       <%- partial('_contact.v1') %>
    </section>
        <%- partial('_btn-to-top.v1') %>
</main>
