<nav role="navigation" id="top">
    <ul class="menu" id="top-menu">
        <li>
            <a href="#up" id="home">
                <div class="tile">
                    <span class=" icon icon-home-outline"></span>
                    <span  class="menu-label">Home</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#about">
                <div class="tile">
                <span class="icon icon-user"></span>
                <span class="menu-label">About </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#work">
                <div class="tile">
                <span class="icon icon-cog"></span>
                <span class="menu-label">Work</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#contact">
                <div class="tile">
                <span class="icon icon-mail"></span>
                <span class="menu-label">Contact</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
