<ul id="slider" class="">
	<li>
		<div class="description">
			<div class="cog">
<!--				<h2 class="header heading">portfolio</h2>-->
				<span class="icon-cog" id="cog"></span>
			</div>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project1</h2>
			<p>Coming soon.</p>
			<a href="project7" title="project7">Visit</a>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project2</h2>
			<p>Coming soon </p>
			<a href="project1" title="project1">Visit</a>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project3</h2>
			<p>Coming soon.</p>
			<a href="project1" title="project1">Visit</a>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project4</h2>
			<p>Coming soon .</p>
			<a href="project1" title="project1">Visit</a>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project5</h2>
			<p>Coming soon.</p>
			<a href="project1" title="project1">Visit</a>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project6</h2>
			<p>Coming soon.</p>
			<a href="project1" title="project1">Visit</a>
		</div>
	</li>
	<li>
		<div class="description">
			<h2>Project7</h2>
			<p>Coming soon.</p>
			<a href="project1" title="project1">Visit</a>
		</div>
	</li>

</ul>
