style   p{font-size: 0.4em; font-weight: 400;} ul{list-style: none;} h3 {color: orange; } .print p, .print h3 {margin :0;} .print li { margin-bottom: 0.2em; }
        
div.container.print
    h2 Tools
        ul
            li
                h3 Git
                p lorem5 blah blah
            li
                h3 NPM
                p lorem5 blah blah
            li
                h3 Node JS
                p lorem5 blah blah
            li
                h3 Jenkins
                p lorem5 blah blah

    h2 General
        ul
            li
                h3 MVC
                p lorem5 blah blah
            li
                h3 Responsive Design
                p lorem5 blah blah

    h2 HTML
        ul
        
            li
                h3 DOM API
                p lorem5 blah blah
            li
                h3 HTTP/2
                p lorem5 blah blah
            li
                h3 Progressive Enhancement
                p lorem5 blah blah
            li 
                h3 prefetch/preload/subresource
                p “prefetch” is a directive that tells a browser to fetch a resource that will probably be needed for the next navigation. That mostly means that the resource will be fetched with extremely low priority (since everything the browser knows is needed in the current page is more important than a resource that we guess might be needed in the next one). That means that prefetch’s main use case is speeding up the next navigation rather than the current one.
            li
                h3 CORS
                p blah
            li 
                h3 HTTP Header
                p blah
    
    h2 CSS
        ul        
            li
                h3 Specificity
                p lorem5 blah blah
            li
                h3 Grid
                p lorem5 blah blah
            li
                h3 BEM/OCSS
                p lorem5 blah blah
            li
                h3 SASS/LESS
                p lorem5 blah blah
            li
                h3 Media query
                p lorem5 blah blah
            li
                h3 Retina
                p lorem5 blah blah
    
    h2 Javascript
        ul        
            li
                h3 Typescript
                p lorem5 blah blah
            li
                h3 EMCA
                p lorem5 blah blah
            li
                h3 JQuery
                p lorem5 blah blah
            li
                h3 Hoisting
                p lorem5 blah blah
            li
                h3 Scope
                p lorem5 blah blah
            li
                h3 ---
                p lorem5 blah blah
            li
                h3 ----
                p lorem5 blah blah
    
    h2 Angular
    
    h2 OOP
        ul
            li
                h3 Class
                p lorem5 blah blah
            li
                h3 Object
                p we use objects to model real world things that we want to represent inside our programs
                p 
            li
                h3 Singleton
                p lorem5 blah blah
    
    h2 PHP
    
    h2 Database
        ul        
            li
                h3 MySQL
                p lorem5 blah blah
            li
                h3 MongoDB
                p lorem5 blah blah
            