$s : 2em;

.controls {
    bottom: $menu-height - $border;

    //top: 50%;
    .button {
        z-index: $top - 2;
        font-size: $s;
        @include bc(rgba(0, 0, 0, 0.2));
        @include circle($s);
        text-align: center;

        .prev.icon-up-open:before {
            transform: rotate(-90deg) translate(3px, -2px);
        }

        .next.icon-up-open:before {
            transform: rotate(90deg) translate(-3px, -2px);
        }
    }
}

//    #prev,
//    #next {
//        text-align: center;
////        line-height: $menu-height;
////        width: 50%;
////        height: $menu-height;
//        z-index: $top - 2;
//        font-size: $s;
//        @include bc(rgba(0,0,0,0.2));
//        @include circle($s);
//    }

#prev {
    left: $border*4;
    //border-right: none;
}

#next {
    right: $border*4;
    //border-left: none;
}