nav {
    z-index: $top;
//    opacity: 0.3;//test
    ul {
        text-align: center;
        &> li {
            &:first-child{display: none;}
            width: 33%;
            float: left;
            border-right: 0;
            a {
                @include bc($dark); //test
                line-height: $menu-height;
                display: block;
                font-size: 75%;
                transition:background 0.8s ease-in-out;
                &.active {
                    background-color: $main;
//                    color: $accent;
                    font-weight: bolder;
//                    font-size: 90%;
                }
            }
        }
    }
}