//***************************** SCAFFOLDING ****************//
// Reset the box-sizing
*,
*:before,
*:after {
	@include box-sizing(border-box);
}

* {
	margin: 0;
	padding: 0;
	transition: all 0.5s linear;
}

html {
	font-size: 62.5%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: $sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $dark;
	background-color: $white;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link-hover-color;
		//    text-decoration: underline;
	}

	&:focus {
		@include tab-focus();
	}
}



ul {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

.heading {
	font-size: 50px;
	font-family: $display;
	text-transform: capitalize;
}
