//***************************** MIXINS *****************************//
@mixin bc($c) {    background-color: $c;}
@mixin border(){border:$border solid $white;}
@mixin b($c){border:$border solid $c;}
@mixin circle($size){
    width: $size;
    height: $size;
    line-height: $size;
    border-radius: 50%;
}

// Placeholder text
@mixin placeholder($color: $white) {
    &:-moz-placeholder {        color: $color;    } // Firefox 4-18
    &::-moz-placeholder {        color: $color;         opacity: 1;    } // Firefox 19+ + See https://github.com/twbs/bootstrap/pull/11526
    &:-ms-input-placeholder {        color: $color;    } // Internet Explorer 10+
    &::-webkit-input-placeholder {        padding-right: $border*2;        color: $color;    } // Safari and Chrome
}
@mixin placeholderhide($hide: none) {
    &:-moz-placeholder {display: $hide;opacity:0;} 
    &::-moz-placeholder {display: $hide;opacity:0;}
    &:-ms-input-placeholder {display: $hide;opacity:0;    } 
    &::-webkit-input-placeholder {display: $hide;opacity:0;}
}

// CSS image replacement
//
// Heads up! v3 launched with with only `.hide-text()`, but per our pattern for
// mixins being reused as classes with the same name, this doesn't hold up. As
// of v3.0.1 we have added `.text-hide()` and deprecated `.hide-text()`. Note
// that we cannot chain the mixins together in Less, so they are repeated.
//
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757

.hide-text {
text-indent: 100%;// [ get out of the window ]
white-space: nowrap; //[ don't come back in ]
overflow: hidden; //[ no really, don't come back in ]
}// - See more at: http://www.appnovation.com/blog/modern-approach-css-image-replacement#sthash.EmcpcnP3.dpuf

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}
// WebKit-style focus
@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

 // Retina image 
 // 
 // Short retina mixin for setting background-image and -size. 
  
 // stylelint-disable indentation, media-query-list-comma-newline-after 
 @mixin img-retina($file-1x, $file-2x, $width-1x, $height-1x) { 
   background-image: url($file-1x); 
  
   // Autoprefixer takes care of adding -webkit-min-device-pixel-ratio and -o-min-device-pixel-ratio, 
   // but doesn't convert dppx=>dpi. 
   // There's no such thing as unprefixed min-device-pixel-ratio since it's nonstandard. 
   // Compatibility info: https://caniuse.com/#feat=css-media-resolution 
   @media only screen and (min-resolution: 192dpi), // IE9-11 don't support dppx 
   only screen and (min-resolution: 2dppx) { // Standardized 
     background-image: url($file-2x); 
     background-size: $width-1x $height-1x; 
   } 
 } 