// Clearfix
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

// Alignment
.text-center {
    text-align: center;
}

.vhc {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Color
.text-white {
    color: white !important;
}


   // Deprecated as of v3.0.1 (will be removed in v4)
@mixin hide-text() {
//  font: ~"0/0" a; firefox doesnt like it...
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
// New mixin to use as of v3.0.1
@mixin text-hide() {
  @include hide-text();
}

.ir{@include hide-text();}


@font-face {  font-display: swap; }