// Color
$dark: #000;
$accent: #396058;//seagreen
//$main: #8b2839;//red
$main: #013A6B;//blue
$white: #ffffff;


$green: #396058;
$pink: pink;
$orange: orange;
$navy: cadetblue;
$lime: lime;
$almond: bisque;
$silver: silver;

// Typography
$sans-serif: 'Julius Sans One',sans-serif;
$display : 'Lobster', cursive;
$font-size-base:          14px;
$line-height-base:        1.428571429; // 20/14

// Links
$link-color: $white;
$link-hover-color: $white;

// Z-index
$top: 1000;

// Sizing
$border: 5px;
$menu-height: 80px;
$page: 100px;


